<!DOCTYPE html>
<mat-card>
    <mat-card-title>{{ data.Name }}</mat-card-title
    ><br />
    <mat-dialog-content
      ><b>Bio:</b> {{ data.Bio }}
      <b>Birthyear:</b> {{ data.Birthyear }}
      <b>Deathyear:</b> {{ data.Deathyear }}
      </mat-dialog-content
    >
    <mat-card-actions>
      <button
        mat-stroked-button
        aria-label="Close the Director details button"
        mat-dialog-close
        class="close-button"
      >
        Close
      </button>
    </mat-card-actions>
  </mat-card>