<div class="login-view">
    <mat-card>
      <mat-card-header style="color: white; font-size: medium;" >
        Welcome to myflix!
      </mat-card-header>
      <mat-card-content>
        <a href="https://www.freeiconspng.com/img/47505" title="Image from freeiconspng.com"><img src="https://www.freeiconspng.com/uploads/comic-donkey-character-of-shrek-movie-13.png" width="250" alt="Comic Donkey Character of Shrek Movie" /></a>    
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
      
          (click)="openUserRegistrationDialog()"
          
          class="details-button"
        >
          Sign Up
        </button> 
        
        <button
        class="details-button"
          mat-raised-button
          (click)="openUserLoginDialog()"
          
        >
          Login
        </button>
      </mat-card-actions>
    </mat-card>
  </div>