<div class="profile-body">
    <mat-card class="profilebackground">
      <div class="user-info">
        <h2>Hello {{ user.Username }}!</h2>
  
        <mat-card-header> </mat-card-header>
        <mat-card-content>
          <h3><b>Username: </b>{{ user.Username }}</h3>
          <h3><b>Email: </b>{{ user.email }}</h3>
          <h3><b>Birthday: </b>{{ user.Birthdate | date }}</h3>
          <br />
          <button
          mat-raised-button
          (click)="openEditProfileDialog()"
          
      >
          <mat-icon>edit</mat-icon>
          Edit profile
      </button>
          <button
            class="profile-btn"
            color="warn"
            mat-raised-button
            (click)="deleteUserProfile()"
          >
            Delete Profile
          </button>
        </mat-card-content>
      </div>
    </mat-card>
    <div>
        <h2 class="favs-header">Favorite Movies</h2>
      <div *ngIf="displayElement; else message" class="movies-container">
        
        <mat-card *ngFor="let movie of favMovies; let i = index" class="favorite-movie">
          <!-- <mat-dialog-content> -->
            <mat-card-header>
                <mat-card-title class="movies-title">{{movie.Title}}</mat-card-title>
                    <mat-card-subtitle
                    color="primary"
                    (click)="openDirectorDialog(
                        movie.Director.Name, 
                        movie.Director.Bio, 
                        movie.Director.Birthyear, 
                        movie.Director.Deathyear)"
                    >Directed by: {{movie.Director.Name}}
                    </mat-card-subtitle>
                    
                </mat-card-header>
                <button
                class="unfavorite-button"
                mat-button
                color="grey"
                (click)="removeFav(movie._id)"
              >
                Unfavorite
                <mat-icon [ngStyle]="{'color':'white'}" (click)="removeFav(movie._id)">favorite</mat-icon>
              </button>
              <img class="movie-image" src="{{ movie.ImagePath }}"
            />
            <mat-card-actions>
              <button
                mat-button
                class="details-button"
                (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
            >
                Genre: {{movie.Genre.Name}}
            </button>
            <button
                mat-button
                class="details-button"
                (click)="openSynopsisDialog(movie.Title, movie.ImagePath, movie.Description)"
            >
                More Info
            </button>
              
              
            </mat-card-actions>
            
          <!-- </mat-dialog-content> -->
        </mat-card>
      </div>
      <ng-template #message>
        <h2>You don't have any favourite movies in your list</h2>
      </ng-template>
    </div>
  </div>