.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
    /* background-color: black;  */
}

 .favorite-movie {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color:white;
    max-width: 280px;
    width: 280px;
    margin: 5px;
    padding: 20px 3px;
    background-color: black;
} 

img {
    width: 250px;
    height: 350px;
    object-fit: contain;
}

.movies-title {
    display: flex;
    max-width: 210px;
    justify-content: center;
    text-align: center;
    line-height: normal;
    color: white;
}

.mat-card-subtitle {
    font-size: 12px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}

.unfavorite-button {
    margin-bottom: 5px;
    color: white;
}

.details-button {
    font-size: 12px; 
    color: white;
    background-color: #e74548;
}

.profilebackground {
    color: white;
    background-color: black;
}

.favs-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}