<!-- src/app/movie-card/movie-card.component.html -->
<!-- <div style="display: grid; grid-gap: 20px;
grid-template-columns: repeat(3, minmax(250px, 1fr));"> -->
<div class="movie-view" style="display: flex;">
    <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
        <mat-card-header>
        <mat-card-title class="movies-title">{{movie.Title}}</mat-card-title>
            <mat-card-subtitle><button mat-button class="director-button"
            (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthyear, movie.Director.Deathyear)"
            >Directed by: {{movie.Director.Name}}</button></mat-card-subtitle>
        </mat-card-header>
        <img src={{movie.ImagePath}} alt= {{movie.Title}} />
        <mat-card-actions>
            <button
                mat-button
                class="details-button"
                (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)"
            >
                Genre: {{movie.Genre.Name}}
            </button>
            <button
                mat-button
                class="details-button"
                (click)="openSynopsisDialog(movie.Title, movie.ImagePath, movie.Description)"
            >
                More Info
            </button>
            <!-- <mat-icon (click)="addFavorite(movie._id)">favorite_border</mat-icon> -->
            <button mat-icon-button>
                <mat-icon [ngStyle]="{'color':'white'}" *ngIf="isFav(movie._id)" (click)="removeFavorite(movie._id)">favorite</mat-icon>
                <mat-icon [ngStyle]="{'color':'white'}" *ngIf="!isFav(movie._id)" (click)="addFavorite(movie._id)">favorite_border</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>