.mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 3px;
    border-color: #e74548;
    padding: 20px;
    background-color: black;
    color: white;
}

.mat-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.synopsis-close-button {
    position: absolute;
    right: 3px;
    top: 3px;
    background-color: white;
    color: #e74548;
}

.details-button {
    font-size: 12px; 
    color: white;
    background-color: #e74548;
}